{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de code</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'agent</th>
                <td>{{ agent.fullname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ agent.birthdate ? agent.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ agent.nationality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agents_index') }}">Retour a la liste</a>

    <a href="{{ path('agents_edit', {'id': agent.id}) }}">Editer</a>

    {{ include('agents/_delete_form.html.twig') }}
{% endblock %}
