{% extends 'base.html.twig' %}

{% block title %}Target{% endblock %}

{% block body %}
    <h1>Target</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Code de la cible</th>
                <td>{{ target.id }}</td>
            </tr>
            <tr>
                <th>Nom de la cible</th>
                <td>{{ target.fullname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ target.birthdate ? target.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ target.nationality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('target_index') }}">retour a la Liste</a>

    <a href="{{ path('target_edit', {'id': target.id}) }}">Editer</a>

    {{ include('target/_delete_form.html.twig') }}
{% endblock %}
